/*****TAG********/
body {
  background-color: #f4f4f4;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 5%;
  border-color: #cf7500;
}

h1 {
  color: #cf7500;
  font-family: helvetica, arial, sans-serif;
}

h3 {
  color: #cf7500;
  font-family: helvetica, arial, sans-serif;
}

p {
  color: #222831;
  font-family: helvetica, arial, sans-serif;
}

ul {
  color: #222831;
  font-family: helvetica, arial, sans-serif;
}

ol {
  color: #222831;
  font-family: helvetica, arial, sans-serif;
}

table {
  color: #222831;
  font-family: helvetica, arial, sans-serif;
}

form {
  color: #222831;
  font-family: helvetica, arial, sans-serif;
}

img:hover {
  background-color: gold;
}

/*****CLASS********/
.cat_sexy_1 {
  background-color: #264653;
}

.cat_sexy_2 {
  background-color: #2a9d8f;
}

.cat_sexy_3 {
  background-color: #e9c46a;
}

.cat_sexy_4 {
  background-color: #f4a261;
}

.cat_sexy_5 {
  background-color: #e76f51;
}

.cat_sexy_6 {
  background-color: #eae2b7;
}
